@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body,
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  color: #333;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
  box-shadow: -1px 5px 5px 0px rgba(122, 104, 104, 0.75);
}

.header__right {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header__right__link {
  margin-right: 20px;
}

.header__right__link:hover {
  color: #008bcd;
  cursor: pointer;
}

.orange {
  color: #fff;
  background-color: #ff8c00;
  border-radius: 5px;
  padding: 5px;
}

.header__login__button1 {
  margin: 0px 16px;
  background-color: #fff;
  border: 1px solid #008bcd;
  border-radius: 5px;
  color: #008bcd;
  padding: 7px 15px;
  font-weight: 600;
  cursor: pointer;
}

.header__login__button2 {
  background: #00A5EC;
  border-radius: 3px;
  border: 1px solid #00A5EC;
  font-weight: 600;
  min-width: 80px;
  line-height: 1.14285714;
  font-size: 14px;
  padding: 7px 15px;
  margin: 0px 16px;
  cursor: pointer;
}

.search__box {
  margin: 30px;
}

.search__box input,
.search__box button {
  padding: 14px;
  font-size: 16px;
  border-radius: 3px;
  border: #000 1px solid;
  height: 48px;
}

.search__box input:hover,
.search__box input:focus {
  border: #008bcd 1px solid;
}

.search__box button {
  background: #00A5EC;
  color: #fff;
}

.search__box input {
  width: 45%;
  outline: none;
}

.carousel {
  max-height: 400px;
  width: 100%;
  overflow-y: hidden;
}

.info__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.info {
  margin: 0px 100px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.flex__center h4 {
  color: #00A5EC;
  font-size: 14px;
  cursor: pointer;
}

.info__left h5 {
  color: #484848;
}

.col {
  display: flex;
  flex-wrap: wrap;
}

.Row h5 {
  margin-left: 100px;
  margin-top: 50px;
}

.Column {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 172px;
  padding: 16px 8px 18px;
  margin: 10px 7px;
  width: 140px;
  max-width: 140px;
}

.Column:hover {
  color: #00A5EC;
  border-radius: 7px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 12%);
}

footer {
  background-color: #333;
}

.FooterRows {
  padding-top: 50px;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.FooterRows p {
  margin: 1px;
  margin-bottom: 8px;
  cursor: pointer;
}

.FooterColumns p:nth-child(1) {
  font-weight: 700;
  margin-bottom: 10px;
}

.bottom__footer {
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 20px 0px;
  align-items: center;
}

.bottom__footer button {
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

.bottom__footer__left {
  display: flex;
  justify-self: space-between;
  width: 38vw;
  align-items: center;
  justify-content: space-evenly;
}

hr {
  background-color: #fff;
}